<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/projects">Projekty</a>
      </li>
      <li class="nav-item active" *ngIf="projectId">
        <a class="nav-link" routerLink="/{{projectId}}/epics">Epiki</a>
      </li>
      <li class="nav-item active" *ngIf="epicId">
        <a class="nav-link" routerLink="/{{projectId}}/{{epicId}}/tasks">Taski</a>
      </li>
    </ul>
  </div>
</nav>

<div class='container'>
  <router-outlet></router-outlet>
</div>
