<div class="row p-5" *ngIf="taskData">
  <div class="col-md-10 offset-1">
    <div class="card mb-12">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-header">
            <h1 class="card-title">
              {{taskData.name}}
            </h1>
          </div>
        </div>
        <div class="col-md-12">
        <div class="pt-3 d-flex justify-content-end">
          <button *ngIf="taskData.status === statuses[0]" type="button" class="btn btn-outline-primary m-1" (click)="changeStatus()">Zacznij</button>
          <button *ngIf="taskData.status === statuses[1]" type="button" class="btn btn-outline-success m-1" (click)="changeStatus()">Zakończ</button>
          <button type="button" class="btn btn-outline-warning m-1" routerLink="/{{projectId}}/{{epicId}}/{{taskId}}/edit">Edytuj</button>
          <button type="button" class="btn btn-outline-danger m-1" (click)="delete(taskData.name)">Usuń</button>
        </div>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <p class="card-text">
              <b>Przypisany:</b> {{taskData.user.firstName}} {{taskData.user.lastName}}
            </p>
            <p class="card-text">
              <b>Projekt: </b> {{projectData.name}}
            </p>
            <p class="card-text">
              <b>Epic: </b> {{epicData.name}}
            </p>
            <p class="card-text">
              <b>Piorytet: </b> {{taskData.priority}}
            </p>
            <p class="card-text">
              <b>Status: </b> {{taskData.status}}
            </p>
            <p class="card-text" *ngIf="taskData.createdTime">
              <b>Stworzono: </b>
              {{taskData.createdTime | date: 'dd.MM.yyyy, HH:mm:ss'}}
            </p>
            <p class="card-text" *ngIf="taskData.startedTime">
              <b>Rozpoczęto: </b>
                {{taskData.startedTime | date: 'dd.MM.yyyy, HH:mm:ss'}}
            </p>
            <p class="card-text" *ngIf="taskData.finishedTime">
              <b>Zakończono: </b>
              {{taskData.finishedTime | date: 'dd.MM.yyyy, HH:mm:ss'}}
            </p>
            <p class="card-text" *ngIf="taskData.startedTime">
              <b>Czas trwania: {{ {startDate: taskData.startedTime, endDate: taskData.finishedTime ? taskData.finishedTime : this.timeService.getCurrentTime() }| duration }}</b>
            </p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card-body">
          <p class="card-text">{{taskData.description}}</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <p class="card-text">
              <a class="btn btn-outline-primary" routerLink="/{{this.projectId}}/{{this.epicId}}/tasks">
                Wróć
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
